alabaster==1.0.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
azure-core==1.32.0
azure-storage-blob==12.25.0
babel==2.17.0
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
constantly==23.10.4
coverage==7.6.10
crispy-bootstrap5==2024.10
cryptography==44.0.2
cssbeautifier==1.15.4
daphne==4.1.2
decorator==5.2.1
distlib==0.3.9
dj-database-url==2.3.0
Django==5.0.11
django-allauth @ git+https://github.com/347S24/django-allauth.git@95b67475728f6de9c202a5cbb9c703966315fe43
django-anymail==12.0
django-coverage-plugin==3.1.0
django-crispy-forms==2.3
django-debug-toolbar==5.0.1
django-environ==0.12.0
django-extensions==3.2.3
django-model-utils==5.0.0
django-ninja==1.3.0
django-redis==5.4.0
django-storages==1.14.4
django-stubs==5.1.2
django-stubs-ext==5.1.3
djlint==1.36.4
docutils==0.21.2
EditorConfig==0.17.0
exceptiongroup==1.2.2
executing==2.2.0
factory_boy==3.3.1
Faker==37.1.0
fido2==1.2.0
filelock==3.18.0
gunicorn==23.0.0
h11==0.14.0
hiredis==3.1.0
hyperlink==21.0.0
identify==2.6.9
idna==3.10
imagesize==1.4.1
incremental==24.7.2
iniconfig==2.1.0
ipdb==0.13.13
ipython==8.34.0
isodate==0.7.2
jedi==0.19.2
Jinja2==3.1.6
jsbeautifier==1.15.4
json5==0.10.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
msgpack==1.1.0
mypy==1.13.0
mypy-extensions==1.0.0
nodeenv==1.9.1
outcome==1.3.0.post0
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
pre_commit==4.1.0
prompt_toolkit==3.0.50
psycopg==3.2.4
psycopg-binary==3.2.4
psycopg-c==3.2.4
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.10.1
pyOpenSSL==25.0.0
PySocks==1.7.1
pytest==8.3.4
pytest-django==4.9.0
pytest-sugar==1.0.0
python-slugify==8.0.4
PyYAML==6.0.2
qrcode==8.0
redis==5.2.1
regex==2024.11.6
requests==2.32.3
ruff==0.9.4
selenium==4.28.1
sentry-sdk==2.20.0
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==8.1.3
sphinx-autobuild==2024.10.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.1
termcolor==2.5.0
text-unidecode==1.3
tomli==2.2.1
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
Twisted==24.11.0
txaio==23.1.1
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.29.3
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
whitenoise==6.8.2
wsproto==1.2.0
zope.interface==7.2
